# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# ignore my assets
asstes/

# ignore bot data
data/

# Ignore templates
template/

# Ignore temporary files
*.log
*.pid
*.seed
*.sqlite
*.sqlite3
*.db

# Ignore environment variables file (if applicable)
.env

# Ignore macOS system files
.DS_Store

# Ignore npm debug log
npm-debug.log

# Ignore yarn error logs
yarn-error.log

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore project specific build output
/build/

# Ignore dependencies installed by npm or yarn
/package-lock.json
/yarn.lock
